.loading-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.sm {
    .spinner-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  &.lg {
    .spinner-icon {
      width: 3rem;
      height: 3rem;
    }
  }

  .spinner-icon {
    width: 2rem;
    height: 2rem;
    animation: spin 1s linear infinite;
  }

  .spinner-circle {
    opacity: 0.25;
  }

  .spinner-path {
    opacity: 0.75;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}