global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'clustergenie-core'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['core-api:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
