basePath: /api/v1
host: localhost:8080
info:
  contact: {}
  description: REST API for ClusterGenie - DigitalOcean droplet management and monitoring
  title: ClusterGenie API
  version: "1.0"
paths: {}
swagger: "2.0"
